<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <title>Painel | SigBolsista</title>
</head>
<body>
  <header>
    <a th:href="@{/logout}">Sair</a>
  </header>
  <main>
    <h1>Painel</h1>
    <div>
      <a th:href="@{/justification}">Justificativas</a>
    </div>
  </main>
</body>
</html>