<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Entrar</title>
</head>
<body>
  <h1>Entrar!</h1>
  <div th:if="${param.error}">Nome de usuário e senha inválidos.</div>
  <div th:if="${param.logout}">Você foi desconectado.</div>
  <form th:action="@{/login}" th:method="POST">
    <div>
      <lable>Usuário</lable>
      <input type="text" id="idUsername" name="username" />
    </div>
    <div>
      <lable>Senha</lable>
      <input type="password" id="idPassword" name="password" />
    </div>
    <div>
      <input type="submit" value="Entrar" />
    </div>
  </form>
</body>
</html>