<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <title th:text="'Justificativa ' + ${justification.id} + ' | SigBolsista'"></title>
</head>
<body>
  <header>
    <a th:href="@{/logout}">Sair</a>
  </header>
  <main>
    <h1 th:text="'Justificativa ' + ${justification.id} + ' | SigBolsista'"></h1>
    <a th:href="@{/justification}">Voltar</a>
    <p>Data: <span th:text="${justification.date}"></span></p>
    <p>Descrição: <span th:text="${justification.description}"></span></p>
  </main>
</body>
</html>